  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: block;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(53, 3, 255, 0.2);
    background: linear-gradient(to right, #09317b, #273469,#09317b, #2a4097); 
    
  }
  .highlight {
    background: linear-gradient(to left,rgb(0, 0, 160), rgb(20, 20, 180),rgb(60, 60, 250));
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-weight: bold;}
  .header {
    
    color: rgb(255, 255, 255);
    padding-top:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .main-text h2 {
    margin: 0;
    
   
  }
  
  .buttons {
    
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  
  .section2 {
    background-color: #2d2dc6;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

  }
  .section3 {
    background-color: #2929ab;
     padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  .section4 {
    background-color: #2c66c2;
     padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  .footer{
    background-color: #043e90;
     padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }