  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(53, 3, 255, 0.2);
    background-color: #1F2937;
    
  }

  button{
    background-color: #3882F6;
    cursor:context-menu;
    padding: 10px 20px;
  }

  i {
    color: white;
    font-size: large;
    font-weight: 600;
    font-style: inherit;
  }
  .highlight {
    background: linear-gradient(to left,rgb(0, 0, 160), rgb(20, 20, 180),rgb(60, 60, 250));
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
  }
  .header {
    
    background-color: #1f2937;
    font-weight: 36px ;
    font-size: ;
    padding-top:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px
    
   
  } 
  
  .section2 {
    /* background-color: #1F2937;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding-top: 20px;  */
    display: flex;
    justify-content: space-between;
  }
  .box{
    width: auto;
    height: 200px;
    padding-left: 150px;
    color: white;
    
  }
  .box2{
    width: auto;
    height: 50px;
    background-color: #1717b3;
    color: white;
    display: block
  }
  .box2 img{
    width: 600px;
    height: auto;
  }
  

  .section3 {
    background-color: #2929ab;
    background-color: #;
    /*border-radius: 5px;*/
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
   
  
  .section4 {
    background-color: #2929ab;
    background-color: #E5E7EB;
    /*border-radius: 5px;*/
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  .footer{
    background-color: #e5e7eb;
    background-color: #;
    /*border-radius: 5px;*/
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
 
  
  }
  .boxx {
    width: 200px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 10px; /* Adds spacing between boxes */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:red }
    